---
import { Ex01 } from "../components/exercises/Ex01";
import { Ex02 } from "../components/exercises/Ex02";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>Flashcards - demo</title>
  </head>
  <body>
    <div class="m-2 md:m-16 flex flex-col gap-8">
      <div>
        <Ex01 client:only />
      </div><div class="mt-8">
        <Ex02 client:only />
      </div>
    </div>
  </body>
</html>
